<% include ../partials/header %>
<h1>Login</h1>
<form method="POST" action="/login">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Start Searching!</button>
</form>
<% include ../partials/footer %>