<% include ../partials/header %>
<header class="jumbotron favourites jumbotron-styled"> 
    <div id="headerContent" class="container">
        <h1><i class="fa fa-heart" aria-hidden="true"></i> Favourites</h1>
        <p>Sometimes the best places are the ones most familiar</p>
    </div>
</header>
<div class="smallborder"></div>
<div id="campgroundDisplay" class="container">
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <%if(campgrounds.length != 0){ %> 
            <% campgrounds.forEach(function(site){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= site.image %>">
                        <div class="caption-full">
                            <h4><%= site.name %></h4>
                            <p>
                                <% if(!site.averageRating){ %>
                                    <div class="pull-right">Not yet rated</div>
                                <% } else { %>
                                    <div class="pull-right">
                                         <% if(Math.round(site.averageRating) == 1){ %>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9734</span>
                                            <span class="star-rating">&#9734</span>
                                            <span class="star-rating">&#9734</span>
                                            <span class="star-rating">&#9734</span>
                                        <% } %>
                                        <% if(Math.round(site.averageRating) == 2){ %>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9734</span>
                                            <span class="star-rating">&#9734</span>
                                            <span class="star-rating">&#9734</span>
                                        <% } %>
                                        <% if(Math.round(site.averageRating) == 3){ %>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9734</span>
                                            <span class="star-rating">&#9734</span>
                                        <% } %>
                                        <% if(Math.round(site.averageRating) == 4){ %>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9734</span>
                                        <% } %>
                                        <% if(Math.round(site.averageRating) == 5){ %>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                            <span class="star-rating">&#9733</span>
                                        <% } %>
                                    </div>
                                <% } %>
                                <a type="button" class="btn btn-success" href="/campgrounds/<%= site._id%>">View</a>
                                <form class="deleteForm" action="/campgrounds/favourites/<%=site._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger deleteForm">Remove</button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="jumbotron no-favourites">
                <h1><i class="fa fa-heart-o" aria-hidden="true"></i> You have no favourites yet.</h1>
                <p>Click <a href="/campgrounds">here</a> to find some.</p>
            </div>
        <% } %>
    </div>
</div>
<% include ../partials/footer %>