<% include ../partials/header %>
<header class="jumbotron favourites"> 
    <div id="headerContent" class="container">
        <h1><i class="fa fa-heart" aria-hidden="true"></i> Favourites</h1>
        <p>Sometimes the best places are the ones most familiar</p>
    </div>
</header>
<div class="smallborder"></div>
<div id="campgroundDisplay" class="container">
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <%if(campgrounds != {}){ %> 
        <% campgrounds.forEach(function(site){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= site.image %>">
                    <div class="caption-full">
                        <h4><%= site.name %></h4>
                        <p>
                            <a type="button" class="btn btn-primary" href="/campgrounds/<%= site._id%>">View</a>
                            <form class="deleteForm" action="/campgrounds/favourites/<%=site._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-default deleteForm">Remove</button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        <% }); }%>
    </div>
</div>
<% include ../partials/footer %>