        <div id="footer" class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <strong>YelpCamp</strong>
                        <div><a href="#">Home</a></div>
                        <div><a href="#">Campgrounds</a></div>
                        <div><a href="#">Create new campground</a></div>
                        <div><a href="#">About</a></div>
                        <div><a href="#">Login</a></div>
                        <div><a href="#">Sign up</a></div>
                    </div>
                    <div class="col-xs-6" id="socialLinks">
                        <strong>Connect</strong>
                        <div><i class="fa fa-facebook-official" aria-hidden="true"></i><a href="#"> Facebook</a></div>
                        <div><i class="fa fa-twitter" aria-hidden="true"></i><a href="#"> Twitter</a></div>
                        <div><i class="fa fa-instagram" aria-hidden="true"></i><a href="#"> Instagram</a></div>
                        <div><i class="fa fa-snapchat-ghost" aria-hidden="true"></i><a href="#"> Snapchat</a></div>
                    </div>
                </div>
                <hr>
                <p id="copyright">
                    2017 © YelpCamp ltd.
                </p>
            </div>
        </div>
   </body>
</html>