<div class="jumbotron small jumbotron-styled">
    <div id="headerContent" class="container">
        <h2 class="lead"><i class="fa fa-tree" aria-hidden="true"></i> YelpCamp</h2>
    </div>
</div>
<div class="smallborder"></div>