<% include ../partials/header %>
<header class="jumbotron campgrounds jumbotron-styled"> 
    <div id="headerContent" class="container">
        <h1>Welcome to YelpCamp</h1>
        <p>The best place to discover your next adventure destination.</p>
        <p>
            <a type="button" class="btn btn-success btn-lg newCampgroundButton" href="/campgrounds/new">Add a New Campground</a>
        </p>
    </div>
</header>
<div class="smallborder"></div>
<div id="campgroundDisplay" class="container">
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(site){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= site.image %>">
                    <div class="caption-full">
                        <h4><%= site.name %></h4>
                        <p>
                            <% if(!site.averageRating){ %>
                                <div class="pull-right">Not yet rated</div>
                            <% } else { %>
                                <div class="pull-right"><%=site.averageRating%>/5</div>
                            <% } %>
                            <a type="button" class="btn btn-success" href="/campgrounds/<%= site._id%>">View</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>