.thumbnail img {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.deleteForm{
    display: inline;
}

.mapid{
    width: 200px;
    height: 200px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.favourite{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    bottom: 7px;
}